div.desafio1{
    background-color: pink;
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid;
    border-color:rgb(255, 137, 156);
}
div.desafio1:hover{
    background-color:rgb(244, 209, 244);
    color:rgb(255, 98, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 5px solid;
    border-color:darkviolet;
}
.link:hover{
    background-color: white;
}
.imagemd2{
    border-radius: 50%;
}
.imagemd3:hover{
    border: 5px solid;
    border-color: pink ;
    transform: scaleY(-1);
}
  .imagemd4:hover{
    animation-name: example;
    animation-duration: 4s;
  }
  @keyframes example{
    50% {transform: rotateY(150deg);}
    100% {transform: rotateY(150deg);}
  }

