@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
ul {
  font-family: 'Cinzel Decorative', cursive;
    list-style-type: none;
    margin: 0;
    padding: 0;
      overflow: hidden;
      background-color: rgb(0, 0, 0) ;
}
li {
    float:unset;
}
li a {
  display: block;
  color: rgb(225, 24, 24);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(174, 167, 167);  
  color: red
}
* {box-sizing:border-box}

.slideshow-container {
  max-width: 600px;
  position:relative;
  margin:auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(3, 3, 3);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px;;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

body{
  background-color: black;
}

.frase{
  font-family: 'Cinzel', serif;
  font-size: 30px;
  color: red;
  text-align: center;
  border-style:ridge;
  border-color:rgb(225, 24, 24);
  
}