body{ 
    background-color: #3664DD; 
    margin: 0; 
}
.div1{ 
    background-color: #3664DD; 
} 
.div2{ 
    background-color: #2D8ED9; 
} 
.div3{ 
    background-color: #2D8ED9; 
}  
.div4{ 
    background-color: #2D8ED9;
} 
header{ 
    background-color:rgb(137, 137, 137); 
    height: 80px; 
    display: flex; 
    justify-content:space-around; 
} 
.div3{ 
    display: flex; 
    justify-content:center; 
    align-items:center; 
} 
.h2a{ 
    display: flex; 
    flex-direction:row-reverse; 
} 
.h2a:hover{ 
    color: #ff0000; 
} 
footer{ 
    height: 20px; 
    color: black; 
    position: absolute; 
    bottom: 0; 
    background-color: #3664DD; 
    width: 99%; 
    height: 70px;     
    text-align: center; 
    border: solid 4px; 
    border-color: #2D8ED9; 
} 
.VeC{
    display: flex; 
    justify-content: space-around; 
}