@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

body {
    background-color: rgb(251, 241, 250);
    color: rgb(255, 12, 142);
    font-family: 'Girassol', cursive;
}

.tudo {
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.texto {
    margin-top: 10px;
    text-align: justify;
    width: 400px;
    font-size: x-large;

}

.titulo1 {
    text-align: center;
    font-size: large;
}

.lista {
    font-size: x-large;
}

img {
    border-radius: 20%;
}