@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

body {
    background-color: rgb(251, 241, 250);
    color: rgb(255, 12, 142);
}

.titulo1 {
    text-align: center;
}

.tudo {
    display: flex;
    justify-content: space-around;
}

.texto {
    font-family: 'Girassol', cursive, serif;
    text-align: center;
    font-size: 25px;
    margin: auto;
    border-style: double;
    border-color: rgb(255, 12, 142);
}

img {
    border-radius: 20%;
}